---
import Stage from "../components/Stage.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Bella's Dresser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <Stage />
    <main id="page">
      <slot />
    </main>
  </body>
</html>
